
<div class="wrapper">

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/images/CATS.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Suraphel</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">TASKS</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>


        {{#link-to "grns.new" tagName="li" class="treeview"}}
          <a {{bind-attr href="grns.new"}}>
            <i class="fa fa-download"></i>
            <span>Receive</span>
          </a>
        {{/link-to}}



        {{#link-to "dispatch" tagName="li" class="treeview"}}
          <a {{bind-attr href="dispatch"}}>
            <i class="fa fa-send"></i> <span>Dispatch</span>
          </a>
        {{/link-to}}


        <li class="header">SETTING</li>

        <li><a href="#"><i class="fa fa-user "></i> <span>Profile</span></a></li>
        <li><a href="#"><i class="fa fa-search"></i> <span>Lookups</span></a></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" id="page-header">


    </section>

    <!-- Main content -->
    <section class="content">
      {{ outlet }}
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- ./wrapper -->
