{{#ember-wormhole to="page-header"}}
  <h1>Store Receipts <small>GRN</small></h1>
{{/ember-wormhole}}

<div class="box">

  <div class="box-body">


    <div class="row">
      <div class="col-xs-2">
        <select class="form-control" name="">
          <option>Choose Store</option>
          <option>Adama Steel</option>
        </select>
      </div>
      <div class="col-xs-2">
        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input class="form-control pull-right" id="datepicker" type="text" placeholder="Pick a date">
        </div>
      </div>
      <div class="col-xs-3">
        <input class="form-control" placeholder="GRN" type="text">
      </div>
      <div class="col-xs-1">
        <a class="btn btn-default"><i class="fa fa-search"></i> Search</a>
      </div>

      <div class="col-xs-offset-3 col-xs-1">
        <a class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
      </div>
    </div>


  </div>
</div>


<div class="box">

  <div class="box-body">
    <table class="table table-bordered">
      <tbody>


      <tr>
        <th style="width: 10px">#</th>
        <th>GRN</th>
        <th>Receipt Date</th>
        <th>Store</th>
        <th>Received by</th>
        <th>Posted</th>
        <th>Quantity</th>
        <th>UoM</th>
        <th>Tasks</th>
      </tr>

      <tr>
        <td>1</td>
        <td>098023429</td>
        <td>Dec 2, 2016</td>
        <td>Adama</td>
        <td>Store Keeper 1</td>
        <td>Yes</td>
        <td>45</td>
        <td>Mt</td>
        <td>Open | Delete</td>
      </tr>


      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
