<div class="container">
  <div class="col-md-12">


    <div class="jumbotron">
      <p>
        Receipts for Adama hub
      </p>

      <a href="#" class="btn btn-primary btn-lg">Load remote records</a>
    </div>
    {{outlet}}
  </div>
</div>
